# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment & secrets
*.env
.env.*
credentials.json

# Build / cache
build/
dist/
*.egg-info/

# Local data / temp files
*.tmp
*.swp
*.swo
